.head-grid{
    width: 100%;
    text-align: center;
}
.grid{
    position: relative;
    text-align: center;
    background:linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
}
.vert-align{


    vertical-align: middle;
    position: relative;

    box-sizing: border-box;
  }
.stats{
    transform: translateY(-30px);
    display: flex;
    align-content: space-around;
}
.co-1{
    margin-top: 20px;
    margin-left:10px;
    width: 20%;
border-radius: 5px;
border: 10px black;
display: flex;
box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
text-align: center;
padding: 15px;
font-size: .8125em;
margin-bottom: 100px;


}
.co-2{
    margin-left:700px;
    width: 20%;
    min-height: 1px;
    padding: 10px;
    margin-bottom: 100px;
    background: #fff;
    border-radius: 5px;
    border: 10px black;
    display: flex;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    text-align: center;
    padding: 15px;
    font-size: .8125em;
    
    }
    .co-3{
        margin-left:100px;
    width: 20%;
        margin-bottom: 100px;

        width: 10%;
        background: #fff;
        border-radius: 5px;
        border: 10px black;
        display: flex;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
        text-align: center;
        padding: 15px;
        font-size: .8125em;
        
        }
        .co-4{
            margin-left:600px;
    width: 20%;
            margin-bottom: 100px;

            width: 10%;
            background: #fff;
            border-radius: 5px;
            border: 10px black;
            display: flex;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
            text-align: center;
            padding: 15px;
            font-size: .8125em;
            
            }